.transfer-funds{

 border: 1px solid lightgrey;
 padding: 10px;
 margin: 5px;
border-radius: 5px;
width: 360px;
    input{
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 250px;
        height: 30px;
        margin: 5px;
        background-color: rgba(245, 245, 245, 0.788);
        outline: none;
        padding: 10px;
    }
   button{
    border: 1px solid lightgray;
    width: 50px;
    border-radius: 5px;
    margin: 5px auto;
    padding: 7px;
    transition:.2s;
    &:hover{
        background-color: #d4d4f7;
   
        
    }

  }
}
