
.contact-details{
    margin: 0 auto;
    text-align: center;
}

.details-container{
margin: 5px;
padding: 10px;
border: 1px solid lightgray;
border-radius: 5px;
width: 360px;

img{
    margin: 0 auto;
        width: 100px;
        height: 100px;
        border: 2px solid rgb(37, 37, 37);
        border-radius: 50%;
        
    }

    p{
        margin: 5px;
        padding: 10px 24px;
        border-bottom: 1px solid lightgrey;
    }
    a{
        width: 145px;
        border:1px solid lightgrey;
        border-radius: 500px;
        margin: 5px auto;
        padding: 10px;
        transition:.2s;

        &:hover{
        border:1px solid rgb(175, 175, 175);
        background-color: #d4d4f7;
       }
    }
}