<section class="contact-details flex column align-center">

    <h2>Contact Details</h2>

    <section class="details-container flex column">
        <img [src]="imagePath" width="200px" height="200px"/>
        <p class="flex space-between"> <i class="fas fa-user-ninja"></i> {{contact.name}}</p>
        <p class="flex space-between"><i class="far fa-envelope"></i> {{contact.email}}</p>
        <p class="flex space-between"><i class="fas fa-phone-volume"></i> {{contact.phone}}</p>
        <a [routerLink]="['/edit/'+contact._id]" routerLinkActive="router-link-active"><i class="far fa-edit"></i>  Edit Contact</a>
    </section>
    <app-transfer-fund [contact]="contact"></app-transfer-fund>
    <moves-list></moves-list>
</section>