.contact-edit{
    form{
        width: 300px;
    }
    input{
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 300px;
        height: 40px;
        margin: 10px 0px;
        background-color: rgba(245, 245, 245, 0.788);
        outline: none;
        padding: 10px;

        &:last-of-type{
        color: white;
        background-color: royalblue;
        cursor: pointer;
        &:hover{
            border: 2px solid black;
        }
        }
    }
}