<section class="header flex space-between">
    <div class="logo-div flex align-center">
        <img src="../../assets/img/bitcoin.svg" height="50px" width="50px" alt="">
        <p>Bitcoin Wallet</p>
    </div>

    <ul>
        <a [routerLink]="['']" routerLinkActive="router-link-active"> <i class="fas fa-home"></i> Home</a>
        <a [routerLink]="['contacts']" routerLinkActive="router-link-active"> <i class="fas fa-users"></i> Contacts</a>
        <a [routerLink]="['dashboard']" routerLinkActive="router-link-active"> <i class="fas fa-square-root-alt"></i> Dashboard</a>
    </ul>
</section>