.header{

    padding:10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    background-color: #d4d4f7;
ul{
    a{
        margin: 10px;
    }
}
    .logo-div{
img{
    height: 50px;
     width:50px;
}
      p{
          margin-left: 10px;
      }  
    }
}