.contact-filter {
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    width: 300px;
    padding-left: 12px;
    
    i{
     margin-right: 10px;
    }

    input{
        border: none;
        border-left: 1px solid black;
        height: 40px;
        outline: none;
        padding: 10px;
    }
}