<section class="contact-page flex column align-center">

<section class="contact-header flex align-center space-between">
    <h2>Your Contacts</h2>
    <a class="add-contact" routerLink="/edit" routerLinkActive="router-link-active"><i class="fas fa-user-plus"></i></a>
</section>

    <app-contact-filter (filter)="setFilter($event)"></app-contact-filter>
    <app-contact-list (deleteTheContact)="deleteContact($event)" (contactSelected)="setCurrContact($event)" [contacts]="contacts"></app-contact-list>
    
</section>